<div>
  <ng-container *ngFor="let i of numberArray; let index = index" >
    <p>{{index}}</p>
    <p [ngStyle]="{'color':i%2==0?'green':''}" *ngIf="i%2==0;else elseblock">even: {{i}}</p>
    <ng-template #elseblock>
      <p [ngClass]="{'odd':i%2==1,'strong':true}">odd: {{i}}</p>
    </ng-template>
  </ng-container>
</div>
<div [ngSwitch]="value">
  <p *ngSwitchCase="1">Value is 1</p>
  <p *ngSwitchCase="3">Value is 3</p>
  <p *ngSwitchCase="5">Value is 5</p>
  <p *ngSwitchDefault >Default</p>
</div>
<h2>custom directive</h2>
<p appHighlighter>Highlighted text</p>
<p appBetterHighlighter>Highlighted text 2</p>
<p appBetterHighlighter [highlightedColor]="'yellow'">Highlighted text 3</p>

<p appClick>sdsd</p>
